*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: black;
    margin: 0;
}
header{
    background-color: black;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 30px;
    position: sticky;
    top: 0;
    transition: background-color 0.4s ease-in-out;
}
header.scrolled{
    background-color: whitesmoke;
    opacity: 0.98;
}
header .logo h2 a{
    display: block;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: whitesmoke;
    margin: 1em;
}
header.scrolled .logo h2 a{
    color: black;
}
header nav{
    padding: 1.5em 0 1.5em 6em;
}
header nav a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.3em;
    font-weight: 300;
    margin: 1em;
    transition: color 0.4s ease-in-out;
    border-bottom: 2px solid transparent;
    transition: .3s;
}
header nav a:hover{
    border-bottom: 2px solid whitesmoke;
}
header.scrolled nav a{
    color: black;
}
header.scrolled nav a:hover{
    color: #f00;
}
.main-body{
    margin-top: 60px;
    height: 1000px;
    padding: 2em 6em 2em 6em;
}
p{
    font-size: 1.5em;
    color: whitesmoke;
    text-align: center;
}
 